In [1]:
import graco
import pandas as pd
import networkx as nx

In [2]:
DATA_DIRECTORY = "/home/clusterduck123/Desktop/git/supplements/data"
MATRIX_DIRECTORY = f"{DATA_DIRECTORY}/matrix"
MATRIX_NAME = "sc_BioGRID_GDV_zscore2"

In [3]:
G = nx.erdos_renyi_graph(100,0.1)
GDV = graco.orbits(G)
GCV = graco.coefficients(G)

In [6]:
GDV

Orbit   0    1    2   3     4     5    6    7    8   9   10   11  12  13  14
0       8   84   23   5   776   395  376   30   38  62   95   22  11   4   0
1       9  105   35   1   903   708  521   77   53  70   22    7   2   0   0
2      12  115   62   4   988  1080  492  181   52  60   73   38   4   1   0
3       9   97   36   0   880   696  434   84   40  61    0    0   0   0   0
4      13  130   67  11  1067  1159  561  178   86  82  189   95  20  13   0
..     ..  ...  ...  ..   ...   ...  ...  ...  ...  ..  ...  ...  ..  ..  ..
95      6   70   12   3   618   242  337    9   22  56   58   10   3   1   0
96     10  103   34  11   882   632  453   53   39  49  191   48  13  17   2
97     10  103   42   3   901   762  447   97   50  58   59   22   3   1   0
98     16  135  106  14  1145  1575  475  389  103  64  226  147   9  23   1
99     14  129   74  17  1018  1188  553  189   78  72  287  148  23  25   2

[100 rows x 15 columns]

In [5]:
GCV

Source         0                   1                                       2  \
Target         2         3         5         8        10        12         7
0       0.821429  0.178571  0.671769  0.129252  0.161565  0.037415  0.652174
1       0.972222  0.027778  0.842857  0.126190  0.026190  0.004762  0.942857
2       0.939394  0.060606  0.853755  0.082213  0.057708  0.006324  0.875806
3       1.000000  0.000000  0.896907  0.103093  0.000000  0.000000  1.000000
4       0.858974  0.141026  0.742949  0.110256  0.121154  0.025641  0.724559
..           ...       ...       ...       ...       ...       ...       ...
95      0.800000  0.200000  0.691429  0.125714  0.165714  0.017143  0.562500
96      0.755556  0.244444  0.681769  0.084142  0.206041  0.028047  0.584559
97      0.933333  0.066667  0.822006  0.107875  0.063646  0.006472  0.866071
98      0.883333  0.116667  0.777778  0.101728  0.111605  0.008889  0.786388
99      0.813187  0.186813  0.708408  0.093023  0.171139  0.027430  0.638514

Source                             3
Target        11        13        11        13        14
0       0.318841  0.028986  0.733333  0.266667  0.000000
1       0.057143  0.000000  1.000000  0.000000  0.000000
2       0.122581  0.001613  0.950000  0.050000  0.000000
3       0.000000  0.000000       NaN       NaN       NaN
4       0.257802  0.017639  0.785124  0.214876  0.000000
..           ...       ...       ...       ...       ...
95      0.416667  0.020833  0.833333  0.166667  0.000000
96      0.352941  0.062500  0.545455  0.386364  0.068182
97      0.130952  0.002976  0.916667  0.083333  0.000000
98      0.198113  0.015499  0.750000  0.234694  0.015306
99      0.333333  0.028153  0.725490  0.245098  0.029412

[100 rows x 12 columns]

In [5]:
GCV = pd.DataFrame({
            'c_0-2' : 2*GDV['2']  / (GDV['0'] * (GDV['0']-1)),
            'c_0-3' : 2*GDV['3']  / (GDV['0'] * (GDV['0']-1)),

            'c_1-5' : 1*GDV['5' ] / (GDV['1'] * (GDV['0']-1)),
            'c_1-8' : 2*GDV['8' ] / (GDV['1'] * (GDV['0']-1)),
            'c_1-10': 1*GDV['10'] / (GDV['1'] * (GDV['0']-1)),
            'c_1-12': 2*GDV['12'] / (GDV['1'] * (GDV['0']-1)),

            'c_2-7' : 3*GDV['7']  / (GDV['2'] * (GDV['0']-2)),
            'c_2-11': 2*GDV['11'] / (GDV['2'] * (GDV['0']-2)),
            'c_2-13': 1*GDV['13'] / (GDV['2'] * (GDV['0']-2)),

            'c_3-11': 1*GDV['11'] / (GDV['3'] * (GDV['0']-2)),
            'c_3-13': 2*GDV['13'] / (GDV['3'] * (GDV['0']-2)),
            'c_3-14': 3*GDV['14'] / (GDV['3'] * (GDV['0']-2))
        })

In [12]:
GDV

    o0   o1  o2  o3   o4    o5   o6   o7  o8  o9  o10  o11  o12  o13  o14
0    7   62  18   3  533   291  248   22  15  24   47   11    2    2    0
1    9   76  33   3  590   513  278   64  22  23   45   19    3    1    0
2    6   72  14   1  527   287  383   16  27  30   19    4    0    0    0
3   11   98  52   3  762   820  382  139  54  38   52   25    0    1    0
4   11   90  49   6  718   751  303  115  26  32   89   46    4    4    0
..  ..  ...  ..  ..  ...   ...  ...  ...  ..  ..  ...  ...  ...  ...  ...
95  14  115  83   8  828  1243  445  274  63  40  122   84    2    6    0
96   9   71  34   2  536   488  234   71  24  20   32   12    0    1    0
97  14  110  86   5  821  1197  396  305  78  35   71   58    3    1    0
98   7   65  18   3  542   317  265   22  10  26   45   11    4    2    0
99   9   74  33   3  600   493  280   64  26  31   41   19    3    1    0

[100 rows x 15 columns]

In [5]:
GCV = pd.DataFrame({
            ('0','2') : 2*GDV['2']  / (GDV['0'] * (GDV['0']-1)),
            ('0','3') : 2*GDV['3']  / (GDV['0'] * (GDV['0']-1)),

            ('1','5') : 1*GDV['5' ] / (GDV['1'] * (GDV['0']-1)),
            ('1','8') : 2*GDV['8' ] / (GDV['1'] * (GDV['0']-1)),
            ('1','10'): 1*GDV['10'] / (GDV['1'] * (GDV['0']-1)),
            ('1','12'): 2*GDV['12'] / (GDV['1'] * (GDV['0']-1)),

            ('2','7') : 3*GDV['7']  / (GDV['2'] * (GDV['0']-2)),
            ('2','11'): 2*GDV['11'] / (GDV['2'] * (GDV['0']-2)),
            ('2','13'): 1*GDV['13'] / (GDV['2'] * (GDV['0']-2)),

            ('3','11'): 1*GDV['11'] / (GDV['3'] * (GDV['0']-2)),
            ('3','13'): 2*GDV['13'] / (GDV['3'] * (GDV['0']-2)),
            ('3','14'): 3*GDV['14'] / (GDV['3'] * (GDV['0']-2))
        })

In [6]:
GCV

           0                   1                                       2  \
           2         3         5         8        10        12         7
0   0.904762  0.095238  0.816406  0.081473  0.087612  0.014509  0.825911
1   0.878788  0.121212  0.770909  0.107636  0.105455  0.016000  0.775862
2   0.904762  0.095238  0.748945  0.172996  0.069620  0.008439  0.821053
3   0.888889  0.111111  0.803509  0.095906  0.093567  0.007018  0.787500
4   0.868132  0.131868  0.780220  0.087912  0.118940  0.012928  0.753165
..       ...       ...       ...       ...       ...       ...       ...
95  0.857143  0.142857  0.778455  0.101626  0.103659  0.016260  0.733333
96  0.861111  0.138889  0.753289  0.095395  0.134868  0.016447  0.732719
97  1.000000  0.000000  0.888502  0.111498  0.000000  0.000000  1.000000
98  0.666667  0.333333  0.540541  0.162162  0.297297  0.000000  0.000000
99  0.888889  0.111111  0.814394  0.098485  0.071970  0.015152  0.776786

                               3
          11        13        11        13        14
0   0.161943  0.012146  0.769231  0.230769  0.000000
1   0.210345  0.013793  0.762500  0.200000  0.037500
2   0.168421  0.010526  0.800000  0.200000  0.000000
3   0.200000  0.012500  0.800000  0.200000  0.000000
4   0.229958  0.016878  0.756944  0.222222  0.020833
..       ...       ...       ...       ...       ...
95  0.244444  0.022222  0.733333  0.266667  0.000000
96  0.248848  0.018433  0.771429  0.228571  0.000000
97  0.000000  0.000000       NaN       NaN       NaN
98  1.000000  0.000000  1.000000  0.000000  0.000000
99  0.214286  0.008929  0.857143  0.142857  0.000000

[100 rows x 12 columns]

In [ ]:
MATRIX_NAME = "sc_BioGRID_GDV_zscore2"
D_df = pd.read_csv(f"{MATRIX_DIRECTORY}/{MATRIX_NAME}.txt", delimiter=' ')